// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "windows.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SNIPPET_DOCK DIALOGEX 26, 41, 163, 407
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_WINDOWEDGE
CAPTION "FingerText"
FONT 10, "Consolas", 0, 0, 0x0
BEGIN
    EDITTEXT        ID_SNIPSHOW_EDIT,5,11,155,69,ES_MULTILINE | ES_READONLY
    PUSHBUTTON      "Edit",IDC_EDIT,44,81,35,15
    LISTBOX         IDC_SNIPPET_LIST,3,132,157,272,WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "Save",IDC_SAVE,85,81,35,15
    PUSHBUTTON      "Create",IDC_CREATE,3,81,35,15
    PUSHBUTTON      "Delete",IDC_DELETE,126,81,35,15
    LTEXT           "Snippet Preview",ID_UGO_STATIC2,3,2,95,8
    EDITTEXT        IDC_LIST_TITLE,2,97,156,34,ES_MULTILINE | ES_READONLY | NOT WS_BORDER,WS_EX_TRANSPARENT
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_SNIPPET_DOCK, DIALOG
    BEGIN
        RIGHTMARGIN, 162
        BOTTOMMARGIN, 404
    END
END
#endif    // APSTUDIO_INVOKED

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

